@model WebAppEmpMVC.Models.Dto.PaginatedResponseDto<WebAppEmpMVC.Models.ViewModels.EmployeeViewModel>

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Employees</h2>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">
            Create Employee
        </button>

    </div>

    <table id="employeesTable" class="table table-bordered table-striped">
        <thead class="fw-bold">
            <tr>
                <td>ID</td>
                <td>Full Name</td>
                <td>Department</td>
                <td>Designation</td>
                <td>Salary</td>
                <td>Join Date</td>
                <td>Username</td>
                <td>Role</td>
                <td>Actions</td>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" id="detailsModalBody"></div>

        </div>
    </div>
</div>

<div class="modal fade" id="createUserModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">

            <h5 class="fw-bold mb-3">Create User</h5>

            <form id="userForm" class="needs-validation" novalidate>

                <input id="uUsername" class="form-control mb-2" placeholder="Username" required />
                <div class="invalid-feedback">Username is required.</div>

                <input id="uPassword" type="password" class="form-control mb-2" placeholder="Password" required />
                <div class="invalid-feedback">Password is required.</div>

                <input id="uConfirm" type="password" class="form-control mb-3" placeholder="Confirm Password" required />
                <div class="invalid-feedback" id="uConfirmFeedback"></div>

                <button type="button" class="btn btn-success w-100" onclick="validateUser()">Next</button>

            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="createEmployeeModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">

            <h5 class="fw-bold mb-3">Create Employee</h5>

            <form id="employeeForm" class="needs-validation" novalidate>

                <input id="eFullName" class="form-control mb-2" placeholder="Full Name" required />
                <div class="invalid-feedback">Full Name is required.</div>

                <select id="eDepartment" class="form-control mb-2" required>
                    <option value="">Select Department</option>
                    <option>HR</option>
                    <option>IT</option>
                    <option>Finance</option>
                </select>
                <div class="invalid-feedback">Please select a department.</div>

                <select id="eDesignation" class="form-control mb-2" required>
                    <option value="">Select Designation</option>
                    <option>Manager</option>
                    <option>Developer</option>
                    <option>Analyst</option>
                </select>
                <div class="invalid-feedback">Please select a designation.</div>

                <input id="eSalary" type="number" class="form-control mb-3" placeholder="Salary" required />
                <div class="invalid-feedback">Salary is required.</div>

                <input id="eUserId" type="hidden" />

                <button type="button" class="btn btn-primary w-100" onclick="validateEmployee()">Create Employee</button>

            </form>

        </div>
    </div>
</div>



@section Scripts {

    <script>
        $(document).ready(function () {

            $('#employeesTable').DataTable({
                processing: true,
                serverSide: true,
                responsive: false,
                pagelength:5,
                lengthMenu: [5, 10, 20, 50],
                ajax: {
                    url: 'http://localhost:5127/api/Employees/GetAllEmployeesServer',
                    type: 'GET'
                },

                columns: [
                    { data: "employeeId" },
                    { data: "fullName" },
                    { data: "department" },
                    { data: "designation" },
                    { data: "salary" },
                    {
                        data: "joinDate",
                        render: function (data) {
                            return data ? data.substring(0, 10) : "";
                        }
                    },
                    { data: "user.username" },
                    { data: "user.role" },

                    {
                        data: "employeeId",
                        orderable: false,
                        searchable: false,
                        render: function (id) {
                            return `<a class="btn btn-primary btn-sm" href="/Employees/Edit/${id}">Edit</a>
                                <button class="btn btn-info btn-sm" onclick="loadEmployeeDetails(${id})">Details</button>
                               <button class="btn btn-danger btn-sm" onclick="deleteEmployee(${id})">Delete</button>`;
                        }
                    }
                ]
            });

        });

        function loadEmployeeDetails(id) {
            $.get("/Employees/DetailsPartial/" + id, function (html) {
                $("#detailsModalBody").html(html);
                $("#detailsModal").modal("show");
            });
        }

        function validateConfirmPassword() {
            const password = $("#uPassword").val();
            const confirm = $("#uConfirm").val();
            const confirmInput = $("#uConfirm")[0];
            const feedback = $("#uConfirmFeedback")[0];

            confirmInput.setCustomValidity("");
            feedback.textContent = "Confirm Password is required";

            if (!confirm) {
                confirmInput.setCustomValidity("Confirm Password is required");
                return;
            }

            if (password !== confirm) {
                confirmInput.setCustomValidity("Passwords do not match");
                feedback.textContent = "Passwords do not match";
                return;
            }

            confirmInput.setCustomValidity("");
        }

        function validateUser() {
            const form = document.getElementById("userForm");

            validateConfirmPassword();

            if (!form.checkValidity()) {
                form.classList.add("was-validated");
                return;
            }

            createUser();
        }

        $("#uPassword, #uConfirm").on("input", validateConfirmPassword );

        function validateEmployee() {
            const form = document.getElementById("employeeForm");

            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }

            createEmployee();
        }


        function createUser() {
            let payload = {
                username: $("#uUsername").val(),
                password: $("#uPassword").val(),
                confirmPassword: $("#uConfirm").val()
            };

            $.post("/Employees/CreateUser", payload)
                .done(res => {
                    if (!res.userId) {
                        alert("User creation failed");
                        return;
                    }

                    $("#eUserId").val(res.userId);

                    $("#createUserModal").modal('hide');
                    $("#createEmployeeModal").modal('show');
                });
        }

        function createEmployee() {
            let payload = {
                fullName: $("#eFullName").val(),
                department: $("#eDepartment").val(),
                designation: $("#eDesignation").val(),
                salary: $("#eSalary").val(),
                userId: $("#eUserId").val()
            };

            $.post("/Employees/CreateEmployee", payload)
                .done(res => {
                    alert("Employee created successfully!");
                    location.reload();
                });
        }

    function deleteEmployee(id) {
        if (!confirm(`Are you sure you want to delete Employee ID: ${id}?`)) {
            return; 
        }

        $.post("/Employees/Delete/" + id)
            .done(res => {
                alert("Employee deleted successfully.");
                location.reload();
            })
            .fail(() => {
                alert("Failed to delete employee.");
            });
    }

    </script>

}
